body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.main {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #1e1e1e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: 1px solid #333;
}

.title {
    text-align: center;
    color: #e0e0e0;
    font-size: 2em;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    margin-top: 10px;
    color: #bbbbbb;
    font-size: 1.2em;
}

.select-category {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 4px;
    background: #333;
    color: #e0e0e0;
    border: 1px solid #444;
}

.select-category:focus {
    outline: none;
    border-color: #555;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 4px;
    background: #444;
    color: #e0e0e0;
    border: 1px solid #555;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #555;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    color: #00ff00; /* Green color for result text */
}

@media (max-width: 600px) {
    .main {
        margin: 20px;
        padding: 15px;
    }

    .title {
        font-size: 1.5em;
    }

    .subtitle {
        font-size: 1em;
    }

    .form-group {
        text-align: center;
    }

    .select-category {
        width: 80%;
        margin: 10px auto;
    }

    button {
        padding: 8px;
    }
}